.filter-range {
    padding-left: 24px;
}

.filter-range__scale {
    position: relative;
    width: 326px;
    height: 2px;
    background: $orange;

    &--percent {
        width: 139px;
    }
}

.filter-range__toggle {
    padding: 0;
    position: absolute;
    top: -9px;
    right: 0;
    width: 20px;
    height: 20px;
    border: solid 2px $orange;
    border-radius: 50%;
    background-color: $orange;

    &--percent {
        width: 18px;
        height: 18px;
    }

    &:hover {
        width: 24px;
        height: 24px;
        top: -11px;
    }
}

@media (max-width: $tablet-width) {
    .filter-range__scale {
        width: 825px;

        &--percent {
            width: 632px;
        }

        &--leasing {
            width: 812px;
        }
    }
}

@media (max-width: $mini-tablet-width) {
    .filter-range__scale {
        width: 88%;

        &--percent {
            width: 59.9%;
        }

        &--leasing {
            width: 88%;
        }
    }
}