.promo {
    position: relative;
    background-color: $black;
    color: $white;
    width: auto;
    min-height: 473px;
    border-radius: 32px;
    padding-top: 70px;
    padding-left: 70px;
    z-index: 1;
}

.promo__img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    border-radius: 32px;
}

.promo__head {
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 48px;
}

.promo__wrapper {
    width: 50%;
}

.promo p {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.promo__toggles {
    position: absolute;
    bottom: 44px;
    left: 50%;
    transform: translateX(-50%);
}

.promo__arrows {
    position: absolute;
    bottom: 57px;
    right: 80px;
}

@media (max-width: $tablet-width) {
    .promo__wrapper {
        width: 60%;
    }

    .promo__img {
        bottom: 19px;
    }
}

@media (max-width: $mini-tablet-width) {
    .promo {
        padding-top: 230px;
        padding-left: 44px;
    }

    .promo__wrapper {
        width: 75%;
    }

    .promo p {
        display: none;
    }

    .promo__head {
        padding-bottom: 32px;
    }

    .promo__toggles {
        bottom: 24px;
    }

    .promo__img {
        top: 0;
        left: 80px;
    }
}

@media (max-width: $mobile-width) {
    .promo {
        margin-top: -82px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 300px;
        padding-left: 19px;
        padding-bottom: 85px;
    }

    .promo__wrapper {
        width: 85%;
    }

    .promo__head {
        font-size: 32px;
        line-height: 29px;
    }

    .promo__img {
        top: 6px;
        left: 0px;
    }

    .promo__toggles {
        bottom: 24px;
    }
}