.social {
    display: flex;
    padding-top: 33px;
    padding-left: 41.2%;
}

.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 29%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__link {
    position: relative;
    border: 2px solid #e9ebec;
    border-radius: 50%;
    display: block;
    width: 48px;
    height: 48px;
}

.social__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13px;
}

@media (max-width: $mini-tablet-width) {
    .social {
        padding-left: 39%;
    }

    .social ul {
        min-width: 26%;
    }

}

@media (max-width: $mobile-width) {
    .social {
        padding-left: 29%;
        padding-top: 23px;
    }

    .social ul {
        min-width: 54%;
    }
}