$fontFamily-Gilroy: "Gilroy",
"Arial",
"Helvetica",
sans-serif;
$fontFamily-Nekst: "Nekst-Black";
$light-grey: rgba(196, 196, 196, 1);
$orange: rgba(255, 149, 20, 1);
$white: rgba(255, 255, 255, 1);
$text-grey: rgba(87, 87, 87, 1);
$black: rgba(0, 0, 0, 1);
$filter-grey: rgba(243, 243, 244, 1);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width: 1439px;
$mini-tablet-width: 1023px;
$mobile-width: 767px;